[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true 

[dev-packages]
apache-airflow = {extras = ["gcp", "postgres"],version = "*"}
jedi = "*"
mysqlclient = "*"

[packages]
awscli = "*"
boto3 = "*"
botocore = "*"
sagemaker = "*"
dill = "*"
pyarrow = "*"
pyhash = "*"
scipy = "*"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.7"
