[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
delta = "*"
pyspark-stubs = "*"
pyflakes = "*"

[packages]
apache-airflow = {extras = ["gcp", "postgres", "databricks"], version = "==2.0.0"}
mysqlclient = "*"
dill = "*"
pyhash = "==0.9.3"
awscli = {"version>" = "1.18.100"}
boto3 = {"version>" = "1.14.23"}
botocore = {"version>" = "1.17.23"}
google-cloud-storage = {"version>" = "1.29.0"}
numpy = {"version>" = "1.19.0"}
pandas = "==0.25.3"
pyarrow = {"version>" = "0.17.1"}
sagemaker = "==1.69.0"
scipy = {"version>" = "1.5.1"}
databricks-cli = "*"
pyspark = {"version>" = "3.0.0"}
pylint = "*"

[requires]
python_version = "3.7"
