[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
delta = "*"
pyspark-stubs = "*"
pyflakes = "*"
pylint = "*"
meilisearch = "*"
mypy = "*"

[packages]
apache-airflow = {extras = ["postgres", "mysql"],version = "==2.1.2"}
mysqlclient = "*"
dill = "*"
awscli = {"version>" = "1.18.100"}
boto3 = {"version>" = "1.14.23"}
botocore = {"version>" = "1.17.23"}
google-cloud-storage = {"version>" = "*"}
numpy = {"version>" = "1.19.0"}
pandas = "==0.25.3"
pyarrow = {"version>" = "0.17.1"}
scipy = {"version>" = "1.5.1"}
databricks-cli = "*"
pyspark = "==3.1.1"
paramiko = "*"
apache-airflow-providers-ssh = "*"
apache-airflow-providers-google = "*"
apache-airflow-providers-databricks= "*"
pyfunctional = "*"
meilisearch = "==0.15.1"

[requires]
python_version = "3.7"
